.container-generic
  padding : 3px 3px 30px 3px
  width            : 100%
  height           : 100%
  .toc-hr
    text-align : center
    hr
      border : 1px solid $color-main-gray
      margin : 0px

  .header
    text-align : center
    font-size  : 24px
    margin     : 14px 0 52px 0
    .title
      font-weight    : $font-bold
      letter-spacing : 2px
      padding-bottom : 10px
    .subtitle
      font-weight : $font-regular
  .content
    padding-bottom : 40px
