.date-form
  letter-spacing : 1px
  font           : 15px $font-name
  text-align     : center
  font-size      : 20px
  font-weight    : $font-medium
  color          : $color-main-black
  label
    margin : 0px 10px
  input
    border: 0px
    border-bottom : 1px solid $color-main-gray
    padding-right : 2px
    width: 65px
    text-align: center
