header.ftl-header
  height        : 50px
  width         : 100%
  padding       : 10px
  border-bottom : 1px solid $color-main-gray
  img.ftl-logo
    fill : $color-main-blue
    height : 32px
  .ftl-text
    font : $text-section-titles, sans-serif
    font-weight : $font-bold
    margin-left : 14px
    padding-top : 10px
