header.ftl-header
  height        : 50px
  width         : 100%
  padding       : 20px 0px
  .ftl-logo
    fill : $color-main-blue
    height : 32px
    width : 24px
    background-image : url(../assets/img/logo-medium.svg)
  .ftl-logo path
    // background-color  : $color-main-blue
    fill : $color-main-blue
  .ftl-text
    font           : $font-name, sans-serif
    font-weight    : $font-bold
    font-size      : 18px
    left           : 32px
    letter-spacing : 1.5px
    position       : relative
    top            : -12px
