header.ftl-header
  width         : 100%
  padding       : 20px 0px 0px 20px
  position: fixed
  z-index: 10
  top: 0px
  background-color: white
  .ftl-header-content
    padding: 0px 20px 10px 20px

  .ftl-logo, .lil-logo
    height : 32px
    width : 24px
  .lil-logo
    float: right
  .ftl-text
    font           : $font-name, sans-serif
    font-weight    : $font-bold
    font-size      : 18px
    left           : 10px
    letter-spacing : 1.5px
    position       : relative
    top            : -12px
