.nvd3 rect[height="1"]
  display: none !important

.nv-group.nv-series-0
  rect.nv-bar
    fill: $color-main-black !important
    stroke-width: 0px
    fill-opacity: 1
.nv-group.nv-series-1
  rect.nv-bar
    fill: $color-main-blue !important
    stroke-width: 0px
    fill-opacity: 1

.nv-group.nv-series-2
  rect.nv-bar
    fill: $color-main-green !important
    stroke-width: 0px
    fill-opacity: 1

.nv-group.nv-series-3
  rect.nv-bar
    fill: $color-main-gray !important
    stroke-width: 0px
    fill-opacity: 1

.nv-controlsWrap.nvd3-svg
  display: none

.nv-legendWrap
  transform :translate(10,270)
