.nvd3 rect[height="1"]
  display: none !important

.nv-legendWrap
  transform :translate(10,270)

.tick
  opacity: 0

.tick line
  opacity: 0 !important


.nv-axisMin-y
  opacity : 0 !important

.single-topic-graph > svg,
.multi-topic-graph > svg
  border  : 1px solid $color-light-gray
  padding : 15px 0px 0px 0px


// .nvd3 .nv-axis.nv-x path.domain
//   stroke-opacity: 1
//   stroke: black
//
// .nvd3 .nv-axis.nv-y path.domain
//   margin-right: 100px
