.container-overview
  background-color: black
  color : white
  li
    border: 0px
  .progressbar
    height: 4px
    background-color: white
    width: 100%
    padding: 0px
    .progressbar-active
      background-color: $color-main-blue
      float: left
      height: 100%
