.progress-numbers-container
  .col-sm-9
    display: table
    padding-bottom: 20px
    height: 100px
  .col-sm-3
    border-top : 1px solid $color-main-blue
    text-align : center
    padding-top: 10px
    margin: 0px 10px

  .subtitle
    font-size : 12px
    letter-spacing: 2px
    text-transform: uppercase
    font-weight: $font-medium

  .number
    @extend .blue-text
    font-weight : $font-bold
    font-size: 30px
    &.big-text
      font-size: 80px
