.progress-numbers-container
  .col-sm-12
    display: table
    padding-bottom: 20px
    height: 100px
  .col-sm-4
    text-align : center
    padding: 0px 30px
    .col-sm-10.col-centered
      border-top : 1px solid $color-main-blue
      padding-bottom: 10px
    // margin: 0px 10px
  .col-centered-small
    padding: 0px 100px

  .small-subtitle
    font-size: 12px
    letter-spacing: 1px
  .number
    @extend .blue-text
    font-weight : $font-bold
    font-size: 34px
    margin-top: 10px
    &.big-text
      margin-top:0px
      font-size: 50px
  .small-green-number
    font-size: 14px
    color: $color-main-green
    font-weight: $font-bold
  img.up-arrow
    background : url(../assets/img/up-arrow.png)
    width: 10px
    height: 10px
    background-repeat: no-repeat
    background-size: contain
