.container-overview
  background-color: black
  color : white
  li
    border: 0px
  .progressbar
    .progressbar-active
      height: 2px
      // width: 70px
      background-color: $color-main-blue
      float: left
    .progressbar-inactive
      height: 2px
      // width: 80px
      background-color: white
      float: left
