
.single-topic-container
  .section-icon
    margin : 0 auto
    position: relative
    top: -23px
    width      : 46px
    height     : 46px
    background : url(../assets/img/icon-bar-chart.png) no-repeat

  .single-topic-header
    display : block
    text-align : center
    margin     : 14px 0 52px 0

    .title
      font-size  : 24px
      font-weight    : $font-bold
      letter-spacing : 2px
      padding-bottom : 10px
      text-transform : uppercase
    .subtitle
      display     : inline-block
      font-size   : 14px
      font-weight : $font-regular
      color       : $color-main-black
      width       : 100%
      span.keyword
        line-height : 5px
        float : left
        text-transform : capitalize
        margin : 10px 2px
      .bullet-point
        color       : $color-second-blue
        font-family : 'Arial', sans-serif
        font-size   : 17px
        margin      : 8px 6px 0px 5px

  .topic-legend-container
    .topic-legend-content
      font-weight : $font-bold
      font-size : 12px
      text-transform : uppercase

      .color-spot
        width         : 13px
        height        : 13px
        border-radius : 7px
        border        : 0px
        float         : left
        margin-right  : 5px
        &.case-one
          background-color: $color-main-blue
        &.case-two
          background-color: $color-main-black
        &.dissent-one
          background-color: $color-third-blue
        &.dissent-two
          background-color: $color-main-green
      .item-title
        float : left
        margin-top : 2px

  .keyword-list
    margin : 20px 0px
    font-size : 12px
    font-weight : $font-bold
    text-transform : capitalize
  .nv-group.nv-series-0
    rect.nv-bar
      fill: $color-main-black !important
      stroke-width: 0px
      fill-opacity: 1
  .nv-group.nv-series-1
    rect.nv-bar
      fill: $color-main-blue !important
      stroke-width: 0px
      fill-opacity: 1

  .nv-group.nv-series-2
    rect.nv-bar
      fill: $color-second-blue !important
      stroke-width: 0px
      fill-opacity: 1

  .nv-group.nv-series-3
    rect.nv-bar
      fill: $color-main-green !important
      stroke-width: 0px
      fill-opacity: 1

  .nv-controlsWrap.nvd3-svg
    display: none
