.single-topic-form
  letter-spacing : 1px
  font: 15px $font-name
  text-align : center
  label
    font-weight : $font-bold
    margin : 0px 10px
    color : $color-main-blue
  input
    border: 0px
    border-bottom : 1px solid $color-main-gray
    font-weight : $font-medium
    font-size : 20px
    padding-right : 2px
    width: 65px
    text-align: center
