.single-topic-container
  .topic-header
    .subtitle
      display     : inline-block
      font-size   : 14px
      font-weight : $font-regular
      color       : $color-main-black
      width       : 100%
      span.keyword
        line-height : 5px
        float : left
        text-transform : capitalize
        margin : 10px 2px
      .bullet-point
        color       : $color-second-blue
        font-family : 'Arial', sans-serif
        font-size   : 17px
        margin      : 8px 6px 0px 5px
  .graph-top-container
    margin : 20px 0px

  .keyword-list
    margin :     30px 0 20px 0px
    font-size : 12px
    font-weight : $font-bold
    text-transform : capitalize

  .nv-group.nv-series-0
    rect.nv-bar
      fill: $color-main-black !important
      stroke-width: 0px
      fill-opacity: 1
  .nv-group.nv-series-1
    rect.nv-bar
      fill: $color-main-blue !important
      stroke-width: 0px
      fill-opacity: 1

  .nv-group.nv-series-2
    rect.nv-bar
      fill: $color-second-blue !important
      stroke-width: 0px
      fill-opacity: 1

  .nv-group.nv-series-3
    rect.nv-bar
      fill: $color-main-green !important
      stroke-width: 0px
      fill-opacity: 1

  .nv-controlsWrap.nvd3-svg
    display: none
