.single-topic-form
  letter-spacing : 1px
  font: 15px $font-name
  text-align : center
  label
    font-weight : $font-bold
    margin : 0px 10px
    color : $color-main-blue
  input
    border: 0px
    border-bottom : 1px solid $color-main-gray
    font-weight : $font-medium
    font-size : 20px
    padding-right : 2px
    width: 65px
    text-align: center

.single-topic-container
  .nv-group.nv-series-0
    rect.nv-bar
      fill: $color-main-black !important
      stroke-width: 0px
      fill-opacity: 1
  .nv-group.nv-series-1
    rect.nv-bar
      fill: $color-main-blue !important
      stroke-width: 0px
      fill-opacity: 1

  .nv-group.nv-series-2
    rect.nv-bar
      fill: $color-main-green !important
      stroke-width: 0px
      fill-opacity: 1

  .nv-group.nv-series-3
    rect.nv-bar
      fill: $color-main-gray !important
      stroke-width: 0px
      fill-opacity: 1

  .nv-controlsWrap.nvd3-svg
    display: none
