/* CSS DIRECTORY
  1. =VARIABLES
  2. =GENERAL
  2. =DASHBOARD
  3. =HEADER
  4. =SIDEBAR
  5. =FOOTER
*/

@import reset
/* VARIABLES */

$font-name = 'Rajdhani'

$font-light   = 300
$font-regular = 400
$font-medium  = 500
$font-bold    = 700

$text-main           = 15px $font-name
$text-section-titles = 24px $font-name
$text-subtitles      = 24px $font-name

$color-main-blue   = #0075FF
$color-main-green  = #7ED321
$color-main-black  = #2F2F2F
$color-main-gray   = #D9D9D9

$color-second-blue = #D2E7FF
$color-third-blue  = #78B6FF

$color-light-gray  = #D9D9D9

/* GENERAL */

body
  font-family: 'Rajdhani', sans-serif
  font-weight     : 300
  color           : $color-main-black

hr
  border : 1px solid $color-main-gray

.col-centered
  float: none
  margin: 0 auto

@import 'header'
@import 'footer'
h1
  font        : $text-section-titles, sans-serif
  font-weight : $font-bold
  font-size   : 54px
  margin      : 12px 0px -10px 0px

h4
  font          : $text-subtitles, sans-serif
  font-weight   : $font-light
  margin-bottom : 30px
  margin-top    : 10px



a
  cursor: pointer
  &.no-underline
    &:hover, &:focus, &:active
      text-decoration: none
.inverse-btn
  font           : 14px $font-name
  font-weight    : $font-bold
  color          : white
  letter-spacing : 2px
  background     : transparent
  border         : 1px solid white
  height         : 35px
  padding        : 0px 14px

.blue-text
  color : $color-main-blue

.general-link
  border-bottom : 1px solid
  padding-bottom : 5px

.border-gray
  border-bottom : 1px solid $color-main-gray

.section-divider
  margin: 20px 0px
  .section-icon
    margin  : 0 auto
    position: relative
    top     : -23px
    width   : 46px
    height  : 46px
    background-size: 46px !important
  .icon-main-toc
    background: url('../assets/img/icon-main-toc.png') no-repeat
  .icon-topics
    background: url('../assets/img/icon-topics.png') no-repeat
  .icon-line-chart
    background: url('../assets/img/icon-line-chart.png') no-repeat
  .icon-bar-chart
    background: url('../assets/img/icon-bar-chart.png') no-repeat
  .icon-numbers
    background: url('../assets/img/icon-numbers.png') no-repeat
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.header
  text-align:       center
  font-size:        24px
  margin:           14px 0 52px 0
.title
  font-weight:    $font-bold
  letter-spacing: 2px
  padding-bottom: 10px
  text-transform: uppercase
.subtitle
  font-size:      24px
  font-weight  : $font-regular
  text-transform: uppercase

.small-subtitle
  font-weight:    $font-regular
  font-size: 10px


button:focus,
button:active
button:active:focus
.btn-default:focus
.btn-default:active
.btn-default:active:focus
  outline: 0

.alert.alert-warning
  background-color: red
  padding: 20px
  height: 100%
  width: 100%
  color : white
  font-weight: $font-bold


.topic-header,
.header
  display : block
  text-align : center
  margin     : 14px 0 20px 0
  .title
    font-size  : 24px
    font-weight    : $font-bold
    letter-spacing : 2px
    padding-bottom : 10px
    text-transform : uppercase
    .subtitle
      display     : inline-block
      font-size   : 14px
      font-weight : $font-regular
      color       : $color-main-black
      width       : 100%

    a
      cursor:            pointer
      text-decoration:   none
      padding-bottom:    1px
      border-bottom:     2px solid $color-main-black
  .title > a.topic-name:hover,
  .title > a.topic-name:active
      color : $color-main-blue
      text-decoration : none
  .title > a,
  .title > span > input
      border: 0px
      border-bottom : 2px solid $color-main-black
  a:hover,
  a:active,
  .title > span > input:hover
      border-bottom: 2px solid $color-main-blue
      color : $color-main-blue
      text-decoration: none !important
  .title > span > input
      padding-right : 0px
      width: 65px
      text-align: center
  .title > .subtitle
    border-bottom : 1px solid $color-main-black
    padding-bottom : 10px

.regular-btn
  margin-bottom: 6px
  font           : 14px $font-name
  font-weight    : $font-bold
  color          : $color-main-blue
  letter-spacing : 2px
  background     : transparent
  border         : 1px solid $color-main-blue
  height         : 35px
  padding        : 0px 14px
  &:active, &:focus
    outline : none
  &:hover, &:active
    color : $color-main-blue
    background-color : #E5F1FF


.topic-menu,
.dropdown-topic-menu
  overflow-y       : scroll
  background-color : #FFF
  color            : $color-main-black
  font             : 14px $font-name
  font-weight      : $font-bold
  padding          : 0 14px
  text-align       : left
  li.single-topic
    padding:       7px 0px
    border-bottom: 1px solid $color-main-black
    cursor:        pointer
    &:hover,
    &.selected
      color:         $color-main-blue

.topic-menu
  margin-left : 0px
  height      : 450px
  li.single-topic
    padding: 12px 0px
    border-bottom : 1px solid $color-light-gray
.dropdown-topic-menu
  height           : 266px
  width            : 209px
  position         : absolute
  border           : 1px solid $color-main-black


/* DASHBOARD */


.dashboard-title-container,
.wordclouds-title-container,
.topic-title-container
  position    : relative
  width       : 100%
  line-height : 32px
  text-align  : center
  padding     : 23px
  padding-bottom: 100px
  margin-bottom: 50px
  top: 50px

  a.read-more:hover, a.read-more:active
    color : $color-main-blue
    text-decoration : none

  .ftl-logo
    margin            : 0 auto
    margin-top        : 20px
    float             : none
    width             : 51px
    height            : 74px
    fill : $color-main-blue !important
    .ftl-logo path
      fill : $color-main-blue !important

.mountain-container
  height        : 125px
  overflow      : hidden

img.mountains
  width : 100%

.button-round
  width: 127px
  height: 127px
  border-radius: 50%
  font-weight: $font-bold
  font-size: 14px
  padding-top: 48px
  &.button-round-blue
    border: 3px solid $color-main-blue
    color : $color-main-blue
    &:hover, &:focus, &:active
      background-color:$color-second-blue
  &.button-round-white
    font-weight: $font-medium
    border: 3px solid white
    color : white

@media only screen and (max-width: 768px)
  .mountain-container
    height:     130px
    margin-top: -80px
@media only screen and (max-width: 850px)
  .mountain-container
    height:     150px
    margin-top: -100px
@media only screen and (min-width: 850px)
  .mountain-container
    height:     180px
    margin-top: -80px

@media only screen and (max-width: 500px)
  .mountain-container
    height:       100px
    margin-top:   -10px

.topic-legend-container
  margin : 10px 0px
  padding: 0px
  .topic-legend-content
    font-weight : $font-bold
    font-size : 12px
    text-transform : uppercase
    .color-spot
      width         : 13px
      height        : 13px
      border-radius : 7px
      border        : 0px
      float         : left
      margin-right  : 5px
      &.case-one
        background-color: $color-main-blue
      &.case-two
        background-color: $color-main-black
      &.dissent-one
        background-color: $color-third-blue
      &.dissent-two
        background-color: $color-main-green
    .item-title
      float : left
      margin-top : 2px
      margin-right : 10px

.progressbar
  .progressbar-active, .progressbar-inactive
    height: 3px
  .progressbar-active
    background-color : $color-main-blue
  .progressbar-inactive
    background-color : white

.progressdots
  height: 10px
  .dot
    // border-radius: 30%
    background-color: $color-main-gray
    animation-duration: 2s
    animation-iteration-count: infinite
    padding: 0px 2px 0px 17px

    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:50%;
    width:8px;
    height:8px;
  span.dot-one
    animation-name: dotone
    margin-right: 5px
  span.dot-two
    animation-name: dottwo
  span.dot-three
    margin-left: 5px
    animation-name: dotthree
@keyframes dotone
  0% {backround-color: $color-main-gray}
  33% {background-color: $color-main-blue}
  66% {backround-color: $color-main-gray}
@keyframes dottwo
  33% {backround-color: $color-main-gray}
  66% {background-color: $color-main-blue}
  99% {backround-color: $color-main-gray}
@keyframes dotthree
  66% {backround-color: $color-main-gray}
  99% {background-color: $color-main-blue}
  33% {backround-color: $color-main-gray}

.wordcloud-images
  margin: 5px
  border : 1px solid $color-main-gray
.wordcloud-item
  margin-bottom: 10px
.limerick-line
  text-align: center
  line-height: 1.6em
  font-size: 1.5em

.ngram-input
  padding: 5px
  margin-right: 3px
  font-weight: $font-medium
  text-transform: uppercase

.ngram-input-container
  margin-bottom: 10px

.col {
  width: 160px;
  float: left;
}
button.big-push-button
  border: 3px solid $color-main-blue
  color: $color-main-blue
  padding: 8px 14px;
  font-weight: $font-bold
  line-height: 1.2em
  font-size: 18px;
  background-color: transparent;
  text-decoration: none;
  display: inline-block
  position: relative
  box-shadow: 1px 0px $color-second-blue, 0px 1px $color-third-blue,
              2px 1px $color-second-blue, 1px 2px $color-third-blue,
              3px 2px $color-second-blue, 2px 3px $color-third-blue,
              4px 3px $color-second-blue, 3px 4px $color-third-blue,
              5px 4px $color-second-blue, 4px 5px $color-third-blue,
              6px 5px $color-second-blue, 5px 6px $color-third-blue;
  &:hover, &:focus,
  &.hover, &.focus
    transform: translate(2px, 2px);
    box-shadow: 1px 0px $color-second-blue, 0px 1px $color-third-blue,
              2px 1px $color-second-blue, 1px 2px $color-third-blue,
              3px 2px $color-second-blue, 2px 3px $color-third-blue,
              4px 3px $color-second-blue, 3px 4px $color-third-blue;
    background-color: #252525
    color: #03a9f4
    border: 3px solid #03a9f4
  &:active,
  &.active
     transform: translate(4px, 4px);
     box-shadow: 1px 0px red, 0px 1px #4a4a4a,
              2px 1px red, 1px 2px #4a4a4a;

.generate-tweet-button
  background-color:red;
  min-width: 100px
  padding: 20px
  color: white
  text-align : center
  font-weight: $font-bold
  font-size: 20px
  cursor: pointer
  &:hover
    background-color: $color-main-green

@import 'nvd3-custom'
@import 'container-styles'
@import 'topic-toc-container'
@import 'single-topic-graph'
@import 'multi-topic-graph'
@import 'main-toc'
@import 'date-form'
@import 'progress-numbers'
@import 'progress-overview'
@import 'map'
