/* CSS DIRECTORY
  1. =VARIABLES
  2. =GENERAL
  2. =DASHBOARD
  3. =HEADER
  4. =SIDEBAR
  5. =FOOTER
*/

@import reset
/* VARIABLES */

$font-name = 'Rajdhani'

$font-light   = 300
$font-regular = 400
$font-medium  = 500
$font-bold    = 700

$text-main           = 15px $font-name
$text-section-titles = 24px $font-name
$text-subtitles      = 24px $font-name

$color-main-blue   = #0075FF
$color-main-green  = #7ED321
$color-main-black  = #2F2F2F
$color-main-gray   = #D9D9D9

$color-second-blue = #D2E7FF
$color-third-blue  = #78B6FF

$color-light-gray  = #D9D9D9

.inverse-btn
  font           : 14px $font-name
  font-weight    : $font-bold
  color          : white
  letter-spacing : 2px
  background     : transparent
  border         : 1px solid white
  height         : 35px
  padding        : 0px 14px

.blue-text
  color : $color-main-blue

.general-link
  border-bottom : 1px solid
  padding-bottom : 5px

.border-gray
  border-bottom : 1px solid $color-main-gray

.section-divider
  margin: 20px 0px
  .section-icon
    margin  : 0 auto
    position: relative
    top     : -23px
    width   : 46px
    height  : 46px
    background-size: 46px !important
  .icon-main-toc
    background: url('../assets/img/icon-main-toc.png') no-repeat
  .icon-topics
    background: url('../assets/img/icon-topics.png') no-repeat
  .icon-line-chart
    background: url('../assets/img/icon-line-chart.png') no-repeat
  .icon-bar-chart
    background: url('../assets/img/icon-bar-chart.png') no-repeat
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.topic-header
  display : block
  text-align : center
  margin     : 14px 0 20px 0
  .title
    font-size  : 24px
    font-weight    : $font-bold
    letter-spacing : 2px
    padding-bottom : 10px
    text-transform : uppercase
    .subtitle
      display     : inline-block
      font-size   : 14px
      font-weight : $font-regular
      color       : $color-main-black
      width       : 100%

    a
      cursor:            pointer
      text-decoration:   none
      padding-bottom:    1px
      border-bottom:     2px solid $color-main-black
  .title > a.topic-name:hover,
  .title > a.topic-name:active
      color : $color-main-blue
      text-decoration : none
  .title > a,
  .title > span > input
      border: 0px
      border-bottom : 2px solid $color-main-black
  a:hover,
  a:active,
  .title > span > input:hover
      border-bottom: 2px solid $color-main-blue
      color : $color-main-blue
      text-decoration: none !important
  .title > span > input
      padding-right : 0px
      width: 65px
      text-align: center
  .title > .subtitle
    border-bottom : 1px solid $color-main-black
    padding-bottom : 10px

.regular-btn
  margin-bottom: 6px
  font           : 14px $font-name
  font-weight    : $font-bold
  color          : $color-main-blue
  letter-spacing : 2px
  background     : transparent
  border         : 1px solid $color-main-blue
  height         : 35px
  padding        : 0px 14px
  &:active, &:focus
    outline : none
  &:hover, &:active
    color : $color-main-blue
    background-color : #E5F1FF


.topic-menu,
.dropdown-topic-menu
  overflow-y       : scroll
  background-color : #FFF
  color            : $color-main-black
  font             : 14px $font-name
  font-weight      : $font-bold
  padding          : 0 14px
  text-align       : left
  li.single-topic
    padding:       7px 0px
    border-bottom: 1px solid $color-main-black
    cursor:        pointer
    &:hover,
    &.selected
      color:         $color-main-blue

.topic-menu
  margin-left : 0px
  height      : 450px
  li.single-topic
    padding: 12px 0px
    border-bottom : 1px solid $color-light-gray
.dropdown-topic-menu
  height           : 266px
  width            : 209px
  position         : absolute
  border           : 1px solid $color-main-black

/* GENERAL */

body
  font-family: 'Rajdhani', sans-serif
  font-weight     : 300
  color           : $color-main-black

hr
  border : 1px solid $color-main-gray

.meta-container
  min-height : 350px
  clear      : both
  display    : inline-block
  margin-bottom : 60px
  width : 100%

@import 'header'
@import 'footer'

/* DASHBOARD */


.dashboard-title-container
  position    : relative
  width       : 100%
  line-height : 32px
  text-align  : center
  padding : 23px

  a.read-more:hover, a.read-more:active
    color : $color-main-blue
    text-decoration : none

  .ftl-logo
    margin            : 0 auto
    margin-top        : 20px
    float             : none
    width             : 51px
    height            : 74px
    fill : $color-main-blue !important
    .ftl-logo path
      fill : $color-main-blue !important

  h1
    font        : $text-section-titles, sans-serif
    font-weight : $font-bold
    font-size   : 54px
    margin      : 12px 0px -10px 0px

  h4
    font          : $text-subtitles, sans-serif
    font-weight   : $font-light
    margin-bottom : 30px
    margin-top    : 10px

.mountain-container
  height        : 125px
  overflow      : hidden

img.mountains
  width : 100%



.topic-legend-container
  margin : 10px 0px
  padding: 0px
  .topic-legend-content
    font-weight : $font-bold
    font-size : 12px
    text-transform : uppercase
    .color-spot
      width         : 13px
      height        : 13px
      border-radius : 7px
      border        : 0px
      float         : left
      margin-right  : 5px
      &.case-one
        background-color: $color-main-blue
      &.case-two
        background-color: $color-main-black
      &.dissent-one
        background-color: $color-third-blue
      &.dissent-two
        background-color: $color-main-green
    .item-title
      float : left
      margin-top : 2px
      margin-right : 10px

.progressbar
  .progressbar-active, .progressbar-inactive
    height: 3px
  .progressbar-active
    background-color : $color-main-blue
  .progressbar-inactive
    background-color : white
@import 'nvd3-custom'
@import 'container-styles'
@import 'topic-toc-container'
@import 'single-topic-graph'
@import 'multi-topic-graph'
@import 'main-toc'
@import 'date-form'
