/* CSS DIRECTORY
	1. =VARIABLES
  2. =GENERAL
	2. =DASHBOARD
	3. =HEADER
	4. =SIDEBAR
	5. =FOOTER
*/

@import reset
/* VARIABLES */

$font-name = 'Rajdhani'

$font-light   = 300
$font-regular = 400
$font-medium  = 500
$font-bold    = 700

$text-main           = 15px $font-name
$text-section-titles = 24px $font-name
$text-subtitles      = 24px $font-name

$color-main-blue   = #0075FF
$color-main-green  = #7ED321
$color-main-black  = #2F2F2F
$color-main-gray   = #D9D9D9

$color-second-blue = #D2E7FF
$color-third-blue  = #78B6FF

.inverse-btn
  font           : 14px $font-name
  font-weight    : $font-bold
  color          : white
  letter-spacing : 2px
  background     : transparent
  border         : 1px solid white
  height         : 35px
  padding        : 0px 14px

.blue-text
  color : $color-main-blue

.general-link
  border-bottom : 1px solid
  padding-bottom : 5px


.border-gray
  border-bottom : 1px solid $color-main-gray

.section-divider
  margin: 20px 0px
  .section-icon
    margin  : 0 auto
    position: relative
    top     : -23px
    width   : 46px
    height  : 46px
    background-size: 46px !important
.section-icon.icon-main-toc
  background: url('../assets/img/icon-main-toc.png') no-repeat
.section-icon.icon-topics
  background: url('../assets/img/icon-topics.png') no-repeat
.section-icon.icon-line-chart
  background: url('../assets/img/icon-line-chart.png') no-repeat
.section-icon.icon-bar-chart
  background: url('../assets/img/icon-bar-chart.png') no-repeat


.regular-btn
  margin-bottom: 6px
  font           : 14px $font-name
  font-weight    : $font-bold
  color          : $color-main-blue
  letter-spacing : 2px
  background     : transparent
  border         : 1px solid $color-main-blue
  height         : 35px
  padding        : 0px 14px
  &:active, &:focus
    outline : none
  &:hover, &:active
    color : $color-main-blue
    background-color : #E5F1FF

.dropdown-topic-menu
  overflow-y       : scroll
  width            : 209px
  height           : 266px
  position         : absolute
  background-color : #F6F6F1
  color            : $color-main-blue
  font             : 14px $font-name
  font-weight      : $font-bold
  padding          : 0 14px
  li.single-topic
    padding : 10px 0px
    border-bottom : 1px solid $color-main-blue
    cursor        : pointer
    &:hover, &.selected
      color : $color-main-black



/* GENERAL */

body
  font-family: 'Rajdhani', sans-serif
  font-weight     : 300
  color           : $color-main-black

hr
  border : 1px solid $color-main-gray

.meta-container
  min-height : 350px
  clear      : both
  display    : inline-block
  margin-bottom : 60px

@import 'header'
@import 'footer'

/* DASHBOARD */


.dashboard-title-container
  position    : relative
  width       : 100%
  line-height : 32px
  text-align  : center
  padding : 23px

  .ftl-logo
    margin            : 0 auto
    margin-top        : 20px
    float             : none
    width             : 51px
    height            : 74px
    fill : $color-main-blue !important
    .ftl-logo path
      fill : $color-main-blue !important

  h1
    font        : $text-section-titles, sans-serif
    font-weight : $font-bold
    font-size   : 54px
    margin      : 12px 0px -10px 0px

  h4
    font          : $text-subtitles, sans-serif
    font-weight   : $font-regular
    margin-bottom : 30px
    margin-top    : 10px

.mountain-container
  height        : 150px
  overflow      : hidden
  display       : inline

img.mountains
  width : 100%



.topic-legend-container
  .topic-legend-content
    font-weight : $font-bold
    font-size : 12px
    text-transform : uppercase
    .color-spot
      width         : 13px
      height        : 13px
      border-radius : 7px
      border        : 0px
      float         : left
      margin-right  : 5px
      &.case-one
        background-color: $color-main-blue
      &.case-two
        background-color: $color-main-black
      &.dissent-one
        background-color: $color-third-blue
      &.dissent-two
        background-color: $color-main-green
    .item-title
      float : left
      margin-top : 2px
      margin-right : 10px

@import 'nvd3-custom'
@import 'topic-toc-container'
@import 'single-topic-graph'
@import 'multi-topic-graph'
@import 'main-toc'
@import 'date-form'
