.toc-container
  background-color : #fff
  padding : 3px
  width            : 100%
  height           : 259px
  position         : relative
  top              : -5em
  .toc-hr
    text-align : center
    hr
      border : 1px solid $color-main-gray
      margin : 0px
    .section-icon
      margin : 0 auto
      position: relative
      top: -23px
      width      : 46px
      height     : 46px
      background : url(../assets/img/icon-topics.png) no-repeat
  .toc-header
    text-align : center
    font-size  : 24px
    margin     : 14px 0 52px 0
    .title
      font-weight    : $font-bold
      letter-spacing : 2px
      padding-bottom : 10px
    .subtitle
      font-weight : $font-regular
  .toc-content
    padding-bottom : 40px
  ul
    li
      border-top : 1px solid $color-main-gray
      padding : 14px 0px
      font-weight: $font-bold
      font-size: 21px

      span.topic-title
        text-transform: capitalize
        color : $color-main-black
      span.total-count
        text-align: right
        color : $color-main-blue
