.dashboard-container(ng-controller="DashboardCtrl")
  .dashboard-title-container
    img.ftl-logo.img-responsive(src="../assets/img/logo-medium.svg")
    h1.text-center CALIFORNIA CASES
    h4.text-center
      | Explore common case topics

  img.mountains.img-responsive(src="../assets/img/mountains.png")
  .dashboard-toc-container
  
  div(ui-view="single-topic")
  div(ui-view="multi-topics")
