.dashboard-container(ng-controller="DashboardCtrl")
  .dashboard-title-container
    img.ftl-logo(src="./assets/img/logo-medium.svg")
    h1.text-center CALIFORNIA CASES
    h4.text-center
      | Explore common case topics in California
      br
      span.blue-text from 1850 – 2014
  //- .mountain-container
  //-   img.mountains.img-responsive(src="../assets/img/mountains.png")
      
  .meta-container.col-sm-12
    include ./main-toc.tpl.jade
  
  .section-divider.col-sm-12
    .section-divider.icon-topics
  
  .meta-container.col-sm-12
    include ./topic-toc-container.tpl.jade
  
  .section-divider.col-sm-12
    .border-gray
    .section-divider.icon-bar-chart
  
  .meta-container.col-sm-12
    include ./single-topic.tpl.jade  
  
  .section-divider.col-sm-12
    .border-gray
    .section-divider.icon-line-chart
  
  .meta-container.col-sm-12
    include ./multi-topics.tpl.jade
