.dashboard-container(ng-controller="DashboardCtrl")
  .dashboard-title-container
    .ftl-logo
    h1.text-center CALIFORNIA CASES
    h4.text-center
      | Explore common case topics in California
      br
      span.blue-text from 1850 – 2014
  //- .mountain-container
  //-   img.mountains.img-responsive(src="../assets/img/mountains.png")
  
  .section-divider
    .border-gray
    .section-divider.icon-main-toc
    
  .meta-container
    include ./main-toc.tpl.jade
  
  .section-divider
    .border-gray
    .section-divider.icon-topics
  
  .meta-container
    include ./topic-toc-container.tpl.jade
  
  .section-divider
    .border-gray
    .section-divider.icon-bar-chart
  
  .meta-container
    include ./single-topic.tpl.jade  
  
  .section-divider
    .border-gray
    .section-divider.icon-line-chart
  
  .meta-container
    include ./multi-topics.tpl.jade
