.dashboard-container(ng-controller="DashboardCtrl as dashboard")
  .dashboard-title-container
    img.ftl-logo(src="./assets/img/logo-medium-blue.svg")
    h1.text-center 
      span CASELAW ACCESS PROJECT 
    h4.text-center
      | Explore topics and trends in 
      span {{ dashboard.stateName }}
      span law
      br
      span.blue-text 
        a.read-more(
          href="http://librarylab.law.harvard.edu/projects/free-the-law"
          target="_blank") read more...
  .mountain-container
    img.mountains.img-responsive(src="../assets/img/mountains.png")
      
  .meta-container.col-sm-12
    include ./progress.overview.tpl.jade

  .meta-container.col-sm-12
    include ./progress.numbers.tpl.jade

  //- .meta-container.col-sm-12
  //-   include ./map.tpl.jade
  
  .meta-container.col-sm-12
    include ./projects.tpl.jade
    
