.wordclouds-container(ng-controller="LimericksCtrl as lc")
  .wordclouds-title-container(style="background-color:#F6F6F1;")
    a(href="/")
      img.ftl-logo(src="./assets/img/logo-medium-blue.svg")
    h1.text-center 
      span CASELAW ACCESS PROJECT 
    h4.text-center
      | RANDOM LAW LIMERICK
      br
      span.blue-text 
        a.read-more(
          href="http://librarylab.law.harvard.edu/projects/caselaw-access-project"
          target="_blank") read more...
  
  .container-generic.limerick-container
    .container
      .col.col-centered
        button.big-push-button(style="margin-top: 10px;" ng-click="lc.generate()")
          | GENERATE ANOTHER!
    
      ul.content.col-centered.col-sm-6(ng-if="lc.limerick")
        li.limerick-line(ng-repeat="line in lc.limerick") 
          | {{line}}
