//- main-toc.tpl.jade
.main-toc-container
  .section-icon
  .row
    .col-sm-12.text-center
      .col-sm-4.section-content
        .title POPULAR TOPICS
        .description
          | TOP CASE TOPICS IN LOCAL
          | AND STATE COURTS
          | FROM 1850 TO 2014
        a(href="#popular" target="_self")
          .arrow-icon
      .col-sm-4.section-content
        .title TOPIC IN DETAIL
        .description
          | EXPLORE A SINGLE TOPIC
          | IN DETAIL OVER TIME. SEE
          | DISSENT VOTES IN 
          | LOCAL AND STATE COURTS
        a(href="#singletopic" target="_self")
          .arrow-icon
      .col-sm-4.section-content
        .title
          | COMPARE TOPICS
        .description
          | COMPARE DIFFERENT 
          | TOPICS OVER TIME
          | SOMETHING ELSE
        a(href="#multitopics" target="_self")
          .arrow-icon
