.progress-container(ng-controller="MapCtrl as mc")
  .progress-title-container
    button(ng-click="mc.toggleRegions(false)") EXPLORE BY STATE
    button(ng-click="mc.toggleRegions(true)") EXPLORE BY REGION
    button(ng-click="mc.toggleSelectAll()") SELECT ALL
    div(usamap)

    
    button(ng-click="mc.calculateStates()") GO
    button(ng-click="mc.reset()") RESET
