.progress-numbers-container.container-generic(ng-controller="ProgressNumbersCtrl as pnc")
  .header
    a(name="popular") &nbsp;
    .title PROJECT PROGRESS
    .subtitle Watch the numbers go up and up
  .col-centered-small
    .col-sm-12.col-centered
      .col-sm-4
        .col-sm-10.col-centered
        .small-subtitle
          | PERCENT COMPLETE
        .progressdots(ng-show="!pnc.numbers.percentScanned")
          span.dot.dot-one
          span.dot.dot-two
          span.dot.dot-three

        .number.big-text {{ pnc.numbers.percentScanned }}%
      .col-sm-4
        .col-sm-10.col-centered
        .small-subtitle
          | ESTIMATED SCANNING COMPLETION DATE
        .number {{ pnc.numbers.date }}
      .col-sm-4
        .col-sm-10.col-centered
        .small-subtitle
          | METADATA COMPLETE
        dotdotdot.progressdots(ng-show="!pnc.numbers.metadataComplete")
        .number {{ pnc.numbers.metadataComplete |  number : fractionSize }}
        //- .small-green-number.col-sm-3.col-centered
        //-   .up-arrow(ng-show="pnc.numbers.metadataChange")
        //-   span {{ pnc.numbers.metadataChange | number : fractionSize }}
 
  .col-centered-small
    .col-sm-12.col-centered
      .col-sm-4
        .col-sm-10.col-centered
        .small-subtitle
          | TOTAL PAGES PROCESSED
        .progressdots(ng-show="!pnc.numbers.pagesProcessed")
          span.dot.dot-one
          span.dot.dot-two
          span.dot.dot-three
        .number {{ pnc.numbers.pagesProcessed | number : fractionSize }}
        //- .small-green-number.col-centered.col-sm-5
        //-   .up-arrow(ng-show="pnc.numbers.pagesProcessedChange")
        //-   span {{ pnc.numbers.pagesProcessedChange | number : fractionSize }}

      .col-sm-4
        .col-sm-10.col-centered
        .small-subtitle
          | TOTAL VOLUMES PROCESSED
        .progressdots(ng-show="!pnc.numbers.volumesProcessed")
          span.dot.dot-one
          span.dot.dot-two
          span.dot.dot-three
        
        .number {{ pnc.numbers.volumesProcessed |  number : fractionSize }}
        //- .small-green-number.col-sm-3.col-centered 
        //-   .up-arrow(ng-show="pnc.numbers.volumesProcessedChange")
        //-   span {{ pnc.numbers.volumesProcessedChange | number : fractionSize }}

      .col-sm-4
        .col-sm-10.col-centered
        .small-subtitle
          | TOTAL CASES PROCESSED
        .number {{ pnc.numbers.casesProcessed |  number : fractionSize }}
