.progress-numbers-container.container-generic(ng-controller="ProgressNumbersCtrl as pnc")
  .header
    a(name="popular") &nbsp;
    .title PROJECT PROGRESS
    .subtitle Watch the numbers go up and up
  .col-centered.col-sm-9
    .col-sm-3
      .small-subtitle
        | PERCENT COMPLETE
      .number.big-text {{ pnc.numbers.percent }}%
    .col-sm-3
      .small-subtitle
        | ESTIMATED DATE OF COMPLETION
      .number {{ pnc.numbers.date }}
    .col-sm-3
      .small-subtitle
        | NUMBER OF RECORDS PROCESSED
      .number {{ pnc.numbers.records |  number : fractionSize }}

  .col-centered.col-sm-9
    .col-sm-3
      .small-subtitle
        | TOTAL PAGES PROCESSED
      .number {{ pnc.numbers.pages | number : fractionSize }}
    .col-sm-3
      .small-subtitle
        | TOTAL VOLUMES PROCESSED
      .number {{ pnc.numbers.volumes |  number : fractionSize }}
    .col-sm-3
      .small-subtitle
        | TOTAL CASES PROCESSED
      .number {{ pnc.numbers.cases |  number : fractionSize }}
