.container-generic(ng-controller="DashboardCtrl as d")
  .header.blue-text
    .title
      | DATA EXPLORATIONS
    .subtitle.blue-text
      | TAKE A LOOK AT SOME OF THE THINGS  YOU CAN DO WITH THE DATA
  .row(style="padding:80px 0px;")
    .col-sm-6.col-centered.content
      .col-sm-3
        a.no-underline(ng-click="d.gotowordclouds()") 
          .button-round-blue
            | WORD CLOUDS
    
      .col-sm-3
        a.no-underline(ng-click="d.gototopics()") 
          .button-round-blue
            | TOPIC MAPPER

      .col-sm-3
        a.no-underline(ng-click="d.gotolimericks()") 
          .button-round-blue
            | LIMERICKS

      .col-sm-3
        a.no-underline(ng-click="d.gotongrams()")
          .button-round-blue
            | WORD FREQUENCY
