.general-container(ng-controller="DashboardCtrl as d")
  a(ng-click="d.gototopics()") CLICK HERE FOR TOPICS
  a(ng-click="d.gotowordclouds()") CLICK HERE FOR WORDCLOUDS
  a(ng-click="d.gotolimericks()") CLICK HERE FOR LIMERICKS
  a(ng-click="d.gotongrams()") CLICK HERE FOR LIMERICKS
