.dashboard-container(ng-controller="TopicDashboardCtrl")
  .meta-container.col-sm-12
    include ./map.tpl.jade

  .meta-container.col-sm-12
    include ./topic-toc-container.tpl.jade
  
  .section-divider.col-sm-12
    .border-gray
    .section-icon.icon-bar-chart
  
  .meta-container.col-sm-12
    include ./single-topic.tpl.jade  
  
  .section-divider.col-sm-12
    .border-gray
    .section-icon.icon-line-chart
  
  .meta-container.col-sm-12
    include ./multi-topics.tpl.jade
